name: Publish to GitHub Package Registry

# on: [push]
#on:
#  pull_request:
#    branches:
#      - master
on:
  push:
    tags:
    - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js 8.x
      uses: actions/setup-node@v1
      with:
        registry-url: https://npm.pkg.github.com/
        node-version: 8.x
        scope: '@yeuai'
    - name: npm install, build, and test
      run: |
        npm install
        npm run build --if-present
        npm test
    - name: publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.GITHUB_PKG_AUTH_TOKEN }}
      run: |
        npm run deploy
